<div class="overlay"></div>
<!-- Mobile Navigation -->
<nav class="nav-mobile">
	<img class="nav-mobile__logo" src="images/logo.svg" alt="snap" />
	<img id="menu-icon" class="nav-mobile__menu-icon" src="images/icon-menu.svg" alt="snap" />
</nav>

<!-- Offscreen Mobile Menu -->
<main class="mobile-menu">
	<div class="close-btn-wrapper">
		<img id="close-btn" src="images/icon-close-menu.svg" alt="" />
	</div>

	<div class="menu-items-container">
		<div class="features-container">
			<p class="features-mb">Features</p>
			<div class="features-collapsible">
				<div class="features-menu-items">
					<div class="menu-imgs-container">
						<img class="menu-img" src="images/icon-todo.svg" alt="" />
						<img class="menu-img" src="images/icon-calendar.svg" alt="" />
						<img class="menu-img" src="images/icon-reminders.svg" alt="" />
						<img class="menu-img" src="images/icon-planning.svg" alt="" />
					</div>
					<div class="title-container">
						<a class="title" href="#">Todo List</a>
						<a class="title" href="#">Calendar</a>
						<a class="title" href="#">Reminders</a>
						<a class="title" href="#">Planning</a>
					</div>
				</div>
			</div>
		</div>
		<div class="company-container">
			<p class="company-mb">Company</p>
			<div class="company-collapsible">
				<div class="company-menu-items">
					<div class="title-container">
						<a class="title" href="#">History</a>
						<a class="title" href="#">Our Team</a>
						<a class="title" href="#">Blog</a>
					</div>
				</div>
			</div>
		</div>
		<a href="#" class="careers-mb">Careers</a>
		<a href="#" class="about-mb">About</a>
	</div>

	<div class="login-container-mb">
		<a href="#" class="login">Login</a>
		<a href="#" class="register">Register</a>
	</div>
</main>

<!-- Desktop Navigation -->
<nav class="nav-desktop">
	<div class="container">
		<img class="nav__logo" src="images/logo.svg" alt="snap" />
		<div class="menu-container">
			<p class="features">Features</p>
			<p class="company">Company</p>
			<a href="#" class="careers">Careers</a>
			<a href="#" class="about">About</a>
		</div>

		<div class="features-dropdown-container">
			<div class="features-menu-items-desktop">
				<div class="menu-imgs-container-desktop">
					<img class="menu-img-desktop" src="images/icon-todo.svg" alt="" />
					<img class="menu-img-desktop" src="images/icon-calendar.svg" alt="" />
					<img class="menu-img-desktop" src="images/icon-reminders.svg" alt="" />
					<img class="menu-img-desktop" src="images/icon-planning.svg" alt="" />
				</div>
				<div class="title-container-desktop">
					<a class="title-desktop" href="#">Todo List</a>
					<a class="title-desktop" href="#">Calendar</a>
					<a class="title-desktop" href="#">Reminders</a>
					<a class="title-desktop" href="#">Planning</a>
				</div>
			</div>
		</div>

		<div class="company-dropdown-container">
			<div class="company-menu-items-desktop">
				<div class="company-title-container-desktop">
					<a class="title-desktop" href="#">History</a>
					<a class="title-desktop" href="#">Our Team</a>
					<a class="title-desktop" href="#">Blog</a>
				</div>
			</div>
		</div>
	</div>
	<div class="login-container">
		<a href="#" class="login">Login</a>
		<a href="#" class="register">Register</a>
	</div>
</nav>
